<h1> Roll the dice! </h1>
<%
die1 = rand(1..6)
die2 = rand(1..2)
total = die1 + die2
%>

<p>
<img src ="/images/dice/<%= die1 %>.svg">
<img src ="/images/dice/<%= die2 %>.svg">


</p>

<p> The total is <%= total%> </p>

<p>

<a href = "https://3000-devanshimg-webapps-s7krcz8ex57.ws-us85.gitpod.io/dice"> Roll again!</a>
</p>
